.Rproj.user/shared/notebooks/paths
.RData
.ipynb_checkpoints/eda-checkpoint.ipynb
.Rproj.user/7515FAF4/persistent-state
.Rproj.user/7515FAF4/rmd-outputs
.Rproj.user/7515FAF4/saved_source_markers
.Rproj.user/7515FAF4/pcs/debug-breakpoints.pper
.Rproj.user/7515FAF4/pcs/files-pane.pper
.Rproj.user/7515FAF4/pcs/source-pane.pper
.Rproj.user/7515FAF4/pcs/windowlayoutstate.pper
.Rproj.user/7515FAF4/pcs/workbench-pane.pper
.Rproj.user/7515FAF4/sources/per/t/472DF87D
.Rproj.user/7515FAF4/sources/per/t/472DF87D-contents
.Rproj.user/7515FAF4/sources/prop/B2EB6244
.Rproj.user/7515FAF4/sources/prop/C0A58FA8
.Rproj.user/7515FAF4/sources/prop/FAC9ABD1
.Rproj.user/7515FAF4/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
